%h1 Works:index

%p Here are all of the works:

%table
  %tbody
    %tr
      %th View
      %th User
      %th Project
      %th Date/Time
      %th Hours
    = render partial: 'work', collection: @works

= will_paginate @works