%h1 Companies:index

%p Here are all of the companies:

%table
  %tbody
    %tr
      %th Company
    = render partial: 'company', collection: @companies


= content_for :aside do
  = render 'sidebar'