%h1= @company.name

- if @company.projects.size > 0
  %table
    %tbody
      %tr
        %th Project
        %th Company
      = render partial: 'projects/project', collection: @company.projects
- else
  No projects      

= content_for :aside do
  = render 'sidebar'